.containerAbout {
    height: 620px;
    margin-top: 20px;
    width: 90%;
    border: 2px solid white;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    background: linear-gradient(45deg, rgba(25,84,123,1) 30%, rgba(255,216,155,1) 100%);
}
.containerAbout:hover {
    border: 2px solid rgba(255,216,155,1);
}
.card {
    position: relative;
    cursor: pointer;
    margin: -35% 50%;
    width: 36rem;
    height: 20rem;
    perspective: 150rem;
}
.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.back {
    background: linear-gradient(45deg, rgba(44,62,80,1) 20%, rgba(16,16,16,1)100%);
    transform: perspective(600px) rotateX(180deg);
}
.front {
    background: linear-gradient(45deg, rgba(16,16,16,1) 20%, rgba(44,62,80,1) 100%);
    transform: perspective(600px) rotateX(0deg);
}
.front .lineNumbers {
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: rgba(255,255,255, 0.03);
    font-size: 15px;
}
.back .lineNumbersBack {
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: rgba(255,255,255, 0.03);
    font-size: 15px;
}
.text {
    font-family:Monaco;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    margin:17% 10%;
}
.text2 {
    font-family:Monaco;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    margin:10% 13%;
}
.front .lineNumbers > div {
    padding: 5px 0;
    opacity: 0.15;
}
.back .lineNumbersBack > div {
    padding: 5px 0;
    opacity: 0.15;
}
.card:hover > .front {
    transform: perspective(600px) rotateX(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateX(0deg);
}

.code {
    color: white;
    letter-spacing: 2px;
}
.operator {
    color: cyan;

}
.string {
    color: green;

}
.variable {
    color: purple;

}
.property {
    color: #E91E63;

}
.method {
    color: rgba(25,84,123,1);

}
.function {
    color: rgba(255,216,155,1);

}
.boolean {
    color: cyan;
}
.tab {
    margin-left: 10px;
}

.values{
    position: relative;
    cursor: pointer;
    margin: 5% 8%;
    width: 25rem;
    height: 30rem;
    perspective: 150rem;
}
.frontV, .backV {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.backV {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transform: perspective(600px) rotateY(180deg);
}
.frontV {
    background: transparent;
    transform: perspective(600px) rotateY(0deg);
}
.values:hover > .frontV {
    transform: perspective(600px) rotateY(-180deg);
}
.values:hover > .backV {
    transform: perspective(600px) rotateY(0deg);
}
.table td {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Karla', sans-serif;
}
.container {
    width: 500px;
    position: absolute;
    top:10px;
    right: 200px;
}
.header {
    color: rgba(25, 84, 123, 1);
    font-family: 'Long Cang', cursive;
    font-size: 30px;
    font-weight: bold;
}
